body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}




.baseNode {
  width: 180px;
  padding: 40px;

  background-color: #f1f1f1;
  border-radius: 12px;

  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 6px 12px 11px -5px rgba(0,0,0, 0.1);
}
.baseNode p {
  font-size: 16px;
  line-height: 140%;
}

.master {
  background-color: aliceblue;
}
.building {
  background-color: #f3f3fa;
}
.floor {
  background-color: #e9f1eb;
}
.room {
  background-color: #e8f5ff;
  width: 320px;
  height: auto;
}

.roomNode.room.red {
  background-color: #fd9992;
}
.roomNode.room.orange {
  background-color: #fc9768;
}
.roomNode.room.blue {
  background-color: #cceaff;
}

