body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}




.baseNode {
  width: 120px;
  height: 10px;

  padding: 40px;

  background-color: #f1f1f1;
  border-radius: 6px;
}
.baseNode p {
  font-size: 16px;
  line-height: 140%;
}

.master {
  width: 120px;
  height: 10px;

  background-color: aliceblue;
}
.building {
  background-color: #f3f3fa;
}
.floor {
  background-color: #e9f1eb;
  width: 110px;
}
.room {
  background-color: #e8f5ff;
  width: 320px;
  height: auto;
}

.priority_0 {
  background-color: #fd9992;
}

.priority_1 {
  background-color: #fc9768;
}

.priority_2 {
  background-color: #ffe398;
}
