

.roomNode {
    width: 120px;
    padding: 10px 10px 40px 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
}
.roomNode h3 {
    padding-top: 10px;
    padding-bottom: 4px;
    text-align: center;
}
.roomNode hr {
    margin-bottom: 10px;
}
.roomNode p {
    font-size: 16px;
    line-height: 150%;
}


